<footer class="footer" id="footer">
  <p class="footer__copyright">&copy; Inge Heeringa</p>
</footer>

<style lang="scss">
  .footer {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__copyright {
      font-size: 2rem;
      color: var(--yellow);
    }
  }
</style>
